<a href="https://colab.research.google.com/github/alperensayar/Track/blob/master/Untitled35.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df={"Device_Type":["AXO145","TRU151","ZOD231","YRT326","LWR245"],
    "Stats_Access_link":["<url>https://xcd32112.smart_meter.com</url>",
                         "<url>https://tXh67.dia_meter.com</url>",
                         "<url>https://yT5495.smart_meter.com</url>",
                         "<url>https://ret323_TRu.crown.com</url>",
                         "<url>https://luwr3243.celcius.com</url>"]}
#Create dataframe

In [ ]:
import pandas as pd
df=pd.DataFrame(df)

In [ ]:
df.head()

  Device_Type                            Stats_Access_link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151       <url>https://tXh67.dia_meter.com</url>
2      ZOD231    <url>https://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [ ]:
 def preprocess(sentence):
    sentence=str(sentence)
    sentence = sentence.lower()
    x = sentence.rstrip("</url>")
    x=x.lstrip("<url>https://")
    return x
#processing for task 
"""
1) Case not sensitive so i take lower case its not essential
2)strip url left and right

In [25]:
df['Stats_Access_link']=df['Stats_Access_link'].map(lambda s:preprocess(s))
#change data frae Link columns with new one

In [26]:
df.head()

  Device_Type         Stats_Access_link
0      AXO145  xcd32112.smart_meter.com
1      TRU151        xh67.dia_meter.com
2      ZOD231    yt5495.smart_meter.com
3      YRT326       et323_tru.crown.com
4      LWR245        wr3243.celcius.com